@font-face {
  font-family: "Ownglyph_Dailyokja-Rg";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/2403@1.0/Ownglyph_Dailyokja-Rg.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

.font {
  font-family: "Ownglyph_Dailyokja-Rg";
}
.flex {
  display: flex;
}
